@import "../node_modules/bootstrap/scss/bootstrap";

// main colors: font : #211b1b; titles and buttons:#c1514f ; background: #fff0e6//

//---defults---//

body{
	background-color: #fff0e6;
	color:#211b1b !important;
	line-height: 1.8;
	font-size: clamp(1.125rem, 1.5vw, 1.25rem);
}
//------------------------ navbar ---------------------///
.logoImage{
	height: auto;
	
	width: 50px;
}
.navbar-custom{
	background-color: #211b1b !important;
	position: sticky;
	top:0;
	z-index:10;
}
.navbar-custom a{
	color:#fff0e6
}
.navbar-custom a:hover {
	color: #c1514f !important;
}

.nav-link.active{
	color: #c1514f !important;
}
.navbar-custom a.nav-link.active{
	color: #c1514f !important;
}
.navbar-toggler{
	color:#fff0e6;
	background-color: #c1514f !important;
}
.nav-button{
	background-color: #fff0e6;
	color: #211b1b !important;
	margin-left: 10px;
}
.nav-button:hover {
	background-color: #fff0e6 !important;
}
//-------------------HERO---------------------//

.Hero-Section p{
	font-weight: 600;
	padding-top: 3%;
	
}
a.Hero-Button{
	background-color:#211b1b !important;
	color:#fff0e6;
}

a.Hero-Button:hover {
	color: #c1514f;
}

.Hero-Title{
	font-size: 68px;
	padding-top: 150px;
}
.Hero-Image{
	width: 700px;
}

//-------------About Us--------//
.About-Us{
	background-color: #211b1b;
	color:#fff0e6;
}
.about-us-image{
	border: 1px solid #fff0e6;
	border-radius: 5px;
}
.About-Us-Button {
	background-color: #fff0e6;
	color: #211b1b !important;
	margin-left: 10px;
}
.row.About-Us p{
	max-width: 70%;
}

.About-Us-Button:hover {
	background-color: #c1514f !important;
	color: #fff0e6, i !important;
}

//-------------cat cards----------------//
h1.cats-section-title{
	display: flex;
	justify-content: center;
	padding-bottom: 50px;
	
}
.card.cat-card{
	background-color: #211b1b;
	color:#fff0e6 ;
}
.Cat-Cards-Button{
	color:#211b1b !important;
	background-color: #fff0e6 !important;
}
.Cat-Cards-Button:hover {
	color: #fff0e6 !important;
	background-color: #c1514f !important;
}

//------------ MODALS ----------------//

.modal-content{
	background-color: #211b1b;
	color: #fff0e6;
}

.modal-close-button {
	color: #211b1b !important;
	background-color: #fff0e6 !important;
}

.modal-close-button:hover {
	color: #211b1b !important;
	background-color: #fff0e6 !important;
}

.modal-adopt-button {
	color: #211b1b !important;
	background-color: #c1514f !important;
}

.modal-adopt-button:hover {
	color: #fff0e6 !important;
	background-color: #c1514f !important;
}

//------------------FAQ--------------------//
.FAQ{
	color:#fff0ed;
	
}

.faq-title{
	display: flex;
	justify-content: center;
	
	
}
section.FAQ{
	background-color: #211b1b !important;
	
	
}

.accordion-item{
	background-color: #211b1b !important;
	color:#fff0e6;
	
}

.accordion-button{
	background-color: #211b1b !important;
	color: #fff0e6;
	
}
.accordion-button:hover {
	background-color: #211b1b !important;
	color: #fff0e6;

}

//--------footer-------//
footer{
	background-color: #211b1b;
	color:#fff0e6;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	
}
footer h1{
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
}
.footer-nav{
	list-style: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 20px;
	
}
.footer-nav a{
	text-decoration: none;
	color:#fff0e6;
	
	font-weight: 200;
}
.footer-nav a:hover{
	text-decoration: none;
	color: #c1514f;
}
.footer-icons{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap:20px;
	color:#c1514f;	
	text-decoration: none;
}
.footer-icons a{
	text-decoration: none;
	color:#c1514f !important;
}
.footer-icons a:hover {
	
	color: #fff0e6 !important;
}
.Rights-footer{
	padding-top: 2%;
	font-weight: 200;
}