@import "../node_modules/bootstrap/scss/bootstrap";

// main colors: font : #211b1b; titles and buttons:#c1514f ; background: #fff0e6//

//---defults---//
body{
	background-color: #fff0e6;
	color:#211b1b !important;
	line-height: 1.8;
	font-size: clamp(1.125rem, 1.5vw, 1.25rem);
}
//------------------------ navbar ---------------------///
.logoImage{
	height: auto;
	
	width: 50px;
}
.navbar-custom{
	background-color: #211b1b !important;
	position: sticky;
	top:0;
	z-index:10;
}
.navbar-custom a{
	color:#fff0e6
}
.navbar-custom a:hover {
	color: #c1514f !important;
}
.navbar-custom a.nav-link.active{
	color: #c1514f !important;
}
.navbar-toggler{
	color:#fff0e6;
	background-color: #c1514f !important;
}
.nav-button{
	background-color: #fff0e6;
	color: #211b1b !important;
	margin-left: 10px;
}
.nav-button:hover {
	background-color: #fff0e6 !important;
}
//-------------------HERO---------------------//

.Hero-Section p{
	font-weight: 600;
	padding-top: 3%;
	
}
button.Hero-Button{
	background-color:#211b1b !important;
	color:#fff0e6;
}

button.Hero-Button:hover {
	color: #c1514f;
}

.Hero-Title{
	font-size: 68px;
	padding-top: 150px;
}
.Hero-Image{
	width: 700px;
}

//-------------About Us--------//
.About-Us{
	background-color: #211b1b;
	color:#fff0e6;
}
.about-us-image{
	border: 1px solid #fff0e6;
	border-radius: 5px;
}
.About-Us-Button {
	background-color: #fff0e6;
	color: #211b1b !important;
	margin-left: 10px;
}
.row.About-Us p{
	max-width: 70%;
}

.About-Us-Button:hover {
	background-color: #c1514f !important;
	color: #fff0e6, i !important;
}



//-------------- scrolling animation -----------------------//